[alias]
  co = commit
  bvv = branch -vva
  chk = checkout
  br = branch
  st = status
  l = log --decorate
  fp = "!git push $1 +$2"
  amend = commit --amend --no-edit
  fuck = "!git add --all && git amend"
  refm = "!git chk master && git pull && git fetch --prune"
[user]
	email = kjdelisle@gmail.com
	name = Kevin Delisle
[core]
	editor = vim
